* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    left: 50%;
}

.header p {
    text-align: center;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
    text-align: center;
}

.content {
    padding: 2.7em 1em 0;
}
.image-post img {
    border: none;
    max-width: 100%;
    display: block;
    margin: auto;
}
.content .pure-g {
    padding-bottom: 2em;
}

.fa {
    color: white;
}
@media (min-width: 64em) {
    .content {
        padding: 3.7em 1em 0;
        margin-left: 17%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: center;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .image-post, .text-post {
        padding-right: 2em;
    }
}
