* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#layout {
    padding: 0;
}

.header {
    left: 50%;
    margin: 1em auto;
    text-align: center;
    top: auto;
}

.header p {
    text-align: center;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
    text-align: center;
}

.content {
    padding: 1em 1em 0;
}

.image-post img {
    border: none;
    display: block;
    margin: auto;
    max-width: 100%;
}

.content .pure-g {
    padding-bottom: 2em;
}

.fa {
    color: white;
}

.avatar {
    display: none
}

.avatar img {
    border: 3px solid;
    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
}

.content h3 {
  border-bottom: 0 solid #eee;
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
}

@media (min-width: 64em) {
    .content {
        margin-left: 17%;
        padding: 1em 1em 0;
    }

    .header {
        margin: 80% 2em 0;
        text-align: center;
    }

    .sidebar {
        bottom: 0;
        position: fixed;
        top: 0;
    }

    .image-post, .text-post {
        padding-right: 2em;
    }
    .avatar{
        display: block;
    }
}
